body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav
{
    position: sticky; /* old: fixed */
    top: 0;
    left : 0;
    width: 100%;
    height: 50px;
    padding: 5px 30px; /* old: 10px 100px */
    box-sizing: border-box;
    transition: .5s;
    background: rgba(28, 44, 56, 0.99); /* new: Added */
    border-bottom: 1px solid #EAEAEB;
}
nav .menu ul
{
    float: left; /* old: right */
    margin: 0 10px;
    padding: 0;
    display: flex;
}
nav .menu ul li
{
    list-style: none;
    /*position: sticky;*/
}
nav .menu ul li a
{
    line-height: 40px;
    color: #f7ecec; /* old: #262626 */
    padding: 0 10px;
    font-family: sans-serif;
    transition: .5s;
    /*display: block;*/
}
nav label
{
    margin: 0;
    padding: 5px 25px;
    font-size: 26px;
    line-height: 40px;
    display: none;
    width: 26px;
    float: right;
    color: #f7ecec;
}
nav.black label
{
    transition: .5s;
}
nav #toggle
{
    display: none;
}
@media only screen and (max-width: 550px) 
{
    nav label
    {
        line-height: 26px;
        display: block;
        cursor: pointer;
        float: right;
    }
    nav.black label
    {
        font-size: 26px;
        margin: 0;
        padding: 0px 25px;
    }
    nav .menu
    {
        float: right;
        text-align: center;
        width: 100vw;
        display: none;
        padding: 0 0 0 30px;
    }
    nav.black .menu
    {
        float: right;
        text-align: center;
        width: 100vw;
        display: none;
        padding: 0 0 0 25px;
    }
    nav .menu ul
    {
        display: block;
        margin: 0;
        padding: 0;
        background: rgba(28, 44, 56, 0.99);
        width: 100vw;
        height: 35vh;
    }
    nav.black .menu ul
    {
        background: rgb(21, 92, 148);
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 22vh;
    }
    nav .menu ul li a
    {
        margin: 0;
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
    nav.black .menu ul li a
    {
        margin: 0;
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
    nav #toggle:checked + .menu
    {
        display: block;
        width: 100vw;
        height: 250%;
    }
}
nav.black
{
    background: rgba(21, 92, 148, .7); /* old: .8*/
    height: 50px;
    padding: 10px 25px; /* old: 10px 50px */
}
nav .logo
{
    float: left;
}
nav .logo img
{
    height: 40px;
    transition: .5s;
}
nav.black .logo img
{
    height: 30px;
}
nav.black .menu ul li a
{
    color: #f7ecec; /* old: rbg(0, 0, 0); */
    line-height: 30px;
}
nav .menu ul li a:hover
{
    color: #fff; /* old: #fff; */
    background: rgba(21, 92, 148, 0.01); /* old: 0.01 */
}
nav.black .menu ul li a:hover
{
    color: rgb(0, 0, 0); /* old: #fff; */
    background: rgba(21, 92, 148, 0.01); /* old: 0.01 */
}
